body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    color: #444444;
    background-color: #ffffff;
    font-family: "proxima-soft", "Gantari", Helvetica, Arial, sans-serif;
}

#app {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.1;
    font-family: "proxima-soft", "Gantari", Helvetica, Arial, sans-serif;
    color: #004f6f;
}

h3 {
    margin: 24px 0 8px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
    font-family: "proxima-soft", "Gantari", Helvetica, Arial, sans-serif;
    color: #004f6f;
}

p {
    font-family: "proxima-soft", "Gantari", Helvetica, Arial, sans-serif;
    font-size: 18px;
    text-align: left;
    color: #444444;
}
