body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    color: #444444;
    background-color: #ffffff;
    font-family: "proxima-soft", Helvetica, Arial, sans-serif;
}

#app {
    margin: 0;
    padding: 0;
}