.header {
    display: flex;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 0 1rem;
    border-bottom: 8px solid #0086bc;
}

.main {
    width: 100vw;
    height: auto;
}
