.mainImgContainer {
    margin: 0;
    width: 100%;
    height: 400px;
    background-attachment: scroll !important;
    background-color: #ffffff !important;
    background-image: url(./../../public/images/hero.png) !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.content {
    margin: auto;
    max-width: 1080px;
    width: 90%;

    &Note {
        padding: 10px 30px;
        background-color: #eef3fa;
    }

    a {
        font-weight: bold;
        text-decoration: none;
        color: #006ba6;
    }
}

.buttonContainer {
    padding: 5px;
    max-width: 350px;
    width: 80%;
    font-size: 15px;
    text-align: center;
    background: #0093C9 none repeat scroll 0 0;
    border-radius: 4px;
    transition: 0.3s ease;
    cursor: pointer;

    a, button {
        display: block;
        height: 100%;
        width: 100%;
        font-weight: bold;
        font-size: 20px;
        color: #fff;
        text-decoration: none;
    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    &Disabled,
    &Disabled:hover {
        background-color: rgb(133, 131, 131) !important;

        &,
        button,
        a {
            cursor: initial;
        }
    }

    &:hover {
        background-color: #004f6f;
    }
}

.shortButton {
    width: 180px;
    height: 50px;
    font-weight: 500;
    border-radius: 3px;

    a {
        line-height: 2.5;
    }
}

.errorContainer {
    margin-top: 10px;
    padding: 3px;
    border: 1px solid #B94A49;
    border-radius: 5px;
    background-color: #feeaeb;

    .error {
        display: block;
        margin: 0;
        max-width: 300px;
        line-height: 1.5;
        font-size: 1em;
        color: #900;
    }
}

.contacts a {
    padding: 6px;
}

.previewImg {
    width: 100%;
    margin: auto;
}

.textUnderline {
    text-decoration: underline;
}

.link {
    font-weight: bold;
    color: #006ba6;
}
