.navItem {
    position: relative;
    display: inline-block;

    &:hover {
        .navDropdown {
            visibility: initial;
        }
    }

    &Link {
        padding: 16px;
        font-weight: 700;
        color: #004f6f;
        text-decoration: none;
    }
}

.navDropdown {
    position: absolute;
    top: 36px;
    visibility: hidden;
    z-index: 1;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: visibility 0.2s linear;

    a {
        display: block;
        padding: 12px 16px;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
        line-height: 1.5;
        color: #004f6f;
        transition: background-color 0.2s linear;

        &:hover {
            background-color: #b7e8f6;
        }
    }
}

.navItemLink,
.button {
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.button {
    display: inline-block;
    margin: 0 3px;
    padding: 16px 23px 16px 19px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    line-height: 16px;
    font-weight: 600;
    -webkit-text-size-adjust: none;
    word-spacing: 1px;
    color: #fff;
    border-radius: 5px;

    &:hover {
        background-color: #0093c9bd;
    }
}

.buttonLighter {
    background-color: #00B2E2;
}

.buttonDarker {
    background-color: #0093C9;
}

.loginButton {
    padding: 10px;
    padding-left: 2.5rem;
    height: 100%;
    line-height: 25px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background: transparent;
    border-radius: 3px;
    vertical-align: middle;
    cursor: pointer;

    &:hover {
        background-color: transparent;
    }

    img {
        width: 100%;
    }
}
