.notification {
    position: fixed;
    bottom: 0;
    width: 100vw;

    &Message {
        margin: 20px auto;
        padding: 15px 20px;
        width: fit-content;
        background-color: #2c2c2ccf;
        color: rgb(255, 246, 246);
        font-size: 120%;
        border-radius: 4px;
    }
}
