.searchContainer {
    box-sizing: border-box;
    margin-top: 15px;
    padding: 15px;
    color: #555555;
    background-color: #f8f8f8;
    border: 1px solid #dad7d0;

    ul {
        padding: 0;
        list-style-type: none;
    }
}

.searchHeader {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.25em;
    color: #555555;
}

.searchDescription {
    margin: 2px 3px;
    font-size: 10pt;
    text-align: center;
}

.searchResultItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
    padding: 10px;
    border: 1px solid #dad7d0;
    border-radius: 6px;
    background-image: -webkit-linear-gradient(top, #ffffff, #dfdfdf);
    cursor: pointer;

    &Header {
        margin: 0;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
        color: #3596D4;
    }

    span {
        line-height: 1.5;
        font-size: 16px;
        color: #555555;
    }
}

.linkContainer {
    margin: 25px 0px;
    text-align: left;
    font-size: 1em;
    color: #3596D4;

    a {
        color: #3596D4;
    }
}

.linkDivider {
    margin-left: 5px;
    margin-right: 5px;
}