/* esbuild-css-modules-plugin-ns-css:../../../../var/folders/xz/bs44rrb929x7cyg4vms0bt7h0000gp/T/tmp-39000-jnEkf4udPZ55/walk-for-animals/src/styles/nav.module.css */
.nav-module__navItem_opZRNa__100 {
  color: #004f6f;
  padding: 16px;
  text-decoration: none;
}
.nav-module__navItem_opZRNa__100,
.nav-module__button_opZRNa__100 {
  cursor: pointer;
  border: none;
  font-size: 18px;
}
.nav-module__button_opZRNa__100 {
  text-align: center;
  -webkit-text-size-adjust: none;
  word-spacing: 1px;
  color: #fff;
  border-radius: 5px;
  margin: 0 16px;
  padding: 16px 23px 16px 19px;
  font-size: 18px;
  line-height: 16px;
  text-decoration: none;
  display: inline-block;
}
.nav-module__button_opZRNa__100:hover {
  background-color: #0093c9bd;
}
.nav-module__buttonLighter_opZRNa__100 {
  background-color: #00b2e2;
}
.nav-module__buttonDarker_opZRNa__100 {
  background-color: #0093c9;
}

/* esbuild-css-modules-plugin-ns-css:../../../../var/folders/xz/bs44rrb929x7cyg4vms0bt7h0000gp/T/tmp-39000-jnEkf4udPZ55/walk-for-animals/src/styles/layout.module.css */
.layout-module__header_e2SeDq__100 {
  background-color: #fff;
  border-bottom: 8px solid #0086bc;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 0 1rem;
  display: flex;
}
.layout-module__main_e2SeDq__100 {
  width: 100vw;
  height: auto;
  display: inline-block;
}

/* esbuild-css-modules-plugin-ns-css:../../../../var/folders/xz/bs44rrb929x7cyg4vms0bt7h0000gp/T/tmp-39000-jnEkf4udPZ55/walk-for-animals/src/styles/header.module.css */
.header-module__header_5o7bSG__100 {
  box-shadow: none;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding-right: 2rem;
  display: flex;
}
.header-module__logo_5o7bSG__100 {
  float: left;
  width: auto;
  height: 70px;
  margin: .9em 0 .8em 1em;
  padding-right: 10rem;
  position: relative;
}

/* ../../../../var/folders/xz/bs44rrb929x7cyg4vms0bt7h0000gp/T/tmp-39000-jnEkf4udPZ55/walk-for-animals/src/styles/global.css */
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  color: #444444;
  background-color: #ffffff;
  font-family:
    "proxima-soft",
    Helvetica,
    Arial,
    sans-serif;
}
#app {
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.1;
  font-family:
    "proxima-soft",
    Helvetica,
    Arial,
    sans-serif;
  color: #004f6f;
}
h3 {
  margin: 24px 0 8px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
  font-family:
    "proxima-soft",
    Helvetica,
    Arial,
    sans-serif;
  color: #004f6f;
}
p {
  font-family:
    "proxima-soft",
    Helvetica,
    Arial,
    sans-serif;
  font-size: 18px;
  text-align: left;
  color: #444444;
}

/* esbuild-css-modules-plugin-ns-css:../../../../var/folders/xz/bs44rrb929x7cyg4vms0bt7h0000gp/T/tmp-39000-jnEkf4udPZ55/walk-for-animals/src/styles/footer.module.css */
.footer-module__footer_nhTcMa__100 {
  color: #fff;
  background-color: #0086bc;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14.4px;
}
.footer-module__footerContent_nhTcMa__100 {
  text-align: center;
  margin: 0 10px;
  display: flex;
}
.footer-module__footerLinks_nhTcMa__100 {
  margin: auto;
  font-size: 12px;
}
.footer-module__footerSources_nhTcMa__100 {
  text-align: center;
  color: #aaccda;
  font-size: 12px;
  line-height: 180%;
}
.footer-module__footerSources_nhTcMa__100 a {
  color: #aaccda;
  font-size: 12px;
  line-height: 180%;
  text-decoration: none;
}
.footer-module__footer_nhTcMa__100 p {
  text-align: center;
}

/* esbuild-css-modules-plugin-ns-css:../../../../var/folders/xz/bs44rrb929x7cyg4vms0bt7h0000gp/T/tmp-39000-jnEkf4udPZ55/walk-for-animals/src/styles/main.module.css */
.main-module__mainImgContainer_5cCtXW__100 {
  width: 100%;
  height: 400px;
  margin: 0;
  background-color: #fff !important;
  background-image: url("../hero-FZQDYA3J.png") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: scroll !important;
}
.main-module__content_5cCtXW__100 {
  width: 90%;
  max-width: 1080px;
  margin: auto;
}
.main-module__buttonContainer_5cCtXW__100 {
  text-align: center;
  cursor: pointer;
  background: #0093c9;
  border-radius: 4px;
  width: 80%;
  max-width: 350px;
  margin-bottom: 1em;
  padding: 5px;
  font-size: 15px;
}
.main-module__buttonContainer_5cCtXW__100 a {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
.main-module__buttonContainer_5cCtXW__100:hover {
  background-color: #028abc;
}
.main-module__contacts_5cCtXW__100 a {
  color: #006ba6;
  padding: 6px;
  font-weight: bold;
  text-decoration: none;
}

/* esbuild-css-modules-plugin-ns-css:../../../../var/folders/xz/bs44rrb929x7cyg4vms0bt7h0000gp/T/tmp-39000-jnEkf4udPZ55/walk-for-animals/src/styles/form.module.css */
.form-module__formLabel_1xt2rG__100 {
  color: #444;
  padding-bottom: 3px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  display: block;
}
.form-module__formLabel_1xt2rG__100 span {
  color: #f40404;
}
.form-module__form_1xt2rG__100 textarea {
  color: #666;
  font-size: 140%;
  font-style: normal;
  font-weight: 400;
}

/* esbuild-css-modules-plugin-ns-css:../../../../var/folders/xz/bs44rrb929x7cyg4vms0bt7h0000gp/T/tmp-39000-jnEkf4udPZ55/walk-for-animals/src/styles/contact.module.css */
.contact-module__contactForm_8RzBkq__100 {
  background-color: #ecf2f9;
  padding-top: 17px;
}
.contact-module__contactFormContainer_8RzBkq__100 {
  background-color: #fff;
  border: 1px solid #dde5ee;
  max-width: 640px;
  margin: 0 auto 10px;
}
.contact-module__contactFormLogo_8RzBkq__100 {
  background-color: #0086bc;
  margin: 0;
}
.contact-module__contactFormLogo_8RzBkq__100 img {
  height: 120px;
}
.contact-module__contactFormFooter_8RzBkq__100 {
  color: #7e7e7e;
  padding: 20px 30px;
  font-family: "National 2", sans-serif;
  font-size: 14px;
}
.contact-module__contactFormFooter_8RzBkq__100 a {
  color: #007faa;
}
.contact-module__contactForm_8RzBkq__100 form {
  margin: 20px 14px 0;
  padding: 0 0 20px;
  position: relative;
}
.contact-module__contactFormHeader_8RzBkq__100 {
  color: #004f6f;
  border-bottom: 1px solid #ccc;
  margin: 0 14px 5px;
  padding: .7em 1%;
  font-size: 30px;
  font-weight: 700;
}
